{{!-- <div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">





                <div class="">
                    <!-- row-1: Avatar & Stats -->
                    <div id="row-1" class="row">
                        <div class="col s1">
                            <img id="avatar"
                                src="https://mmtcdn.blob.core.windows.net/084395e6770c4e0ebc5612f000acae8f/mmtcdn/Products20549-640x640-592019517.jpg"
                                alt="" style="width: 70%">
                        </div>
                        <div class="col s7 play-font">
                            <br> Name: Chris Stead
                            <br> Level 10 Warrior
                            <br> HP:
                            <div class="progress">
                                <div class="determinate" style="width: 70%"></div>
                            </div>
                            Experience:
                            <div class="progress">
                                <div class="determinate" style="width: 40%"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END row-1: Avatar & Stats -->

                    <!-- row-2: Menu Buttons & App -->
                    <div id="row-2" class="row">
                        <nav class="nav-extended">
                            <div class="nav-content">
                                <ul class="tabs tabs-transparent">
                                    <li class="tab"><a class="active" href="#test1">Goals</a></li>
                                    <!-- <li class="tab"><a href="#test2">Daily Goal</a></li> -->
                                    <li class="tab"><a href="#test3">Bots</a></li>
                                    <li class="tab"><a href="#test4">Rewards</a></li>
                                </ul>
                            </div>
                        </nav>

                        <!-- To Do List Screen -->
                        <div id="test1" class="col s12">
                        


                            <ul id="goal-list" class="list-group collection with-header to-do-list">
                                {{#each goals}}
                                <li data-id="{{this.id}}" class="list-group-item">
                                    <a href="goal/{{this.id}}">{{this.goal}}</a>
                                    <button class="btn btn-danger float-right delete">ｘ</button>
                                </li>
                                {{/each}}
                            </ul>





                        </div>
                        <!-- To Do List Screen END -->

                        <!-- <div id="test2" class="col s12">Test 2</div> -->
                        <div id="test3" class="col s12"></div>
                        <div id="test4" class="col s12"></div>
                    </div>
                    <!-- END row-2: Menu Buttons -->

                </div>
                <!-- Container ending div -->

                <!-- Floating Action Button -->
                <div class="fixed-action-btn">
                    <a id="main-fab" class="btn-floating btn-large amber darken-1">
                        <i class="large material-icons">mode_edit</i>
                    </a>
                    <ul>
                        <li>
                            <a id="#new-to-do" class="btn-floating red tooltipped modal-trigger"
                                href="#todo-creation-modal" data-position="left" data-tooltip="New To Do">
                                <i class="material-icons">check_circle</i>
                            </a>
                        </li>
                        <li>
                            <a class="btn-floating red tooltipped green" data-position="left"
                                data-tooltip="New Daily Goal">
                                <i class="material-icons">access_time</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END: Floating Action Button -->

                <!-- Modal 1: Create a New To Do -->
                <div id="todo-creation-modal" class="modal">
                    <!-- modal-content -->
                    <div class="modal-content">
                        <!-- Create To Do Modal Content -->
                        <h4>Create a New Goal</h4>

                        <div class="row">
                            <form class="clearfix mb-4" action="POST">
                                <div class="form-group">
                                    <label for="goal">Goal</label>
                                    <input type="text" id="goal" class="form-control" aria-describedby="goal"
                                        placeholder="Enter Example Text">
                                </div>
                        </div>

                        <!--Subtasks row -->
                        <div class="row">
                            <div class="col s12">
                                <ul id="subtasks" class="collection with-header">
                                    <li class="collection-header">
                                        <h5>Setting a goal can be hard.  Lets break down your goal into 5 manageable tasks!</h5>
                                    </li>
                                    <div id="new-subtasks"></div>
                                    <li id="subtask-input-container" class="collection-item">

                                        <div class="form-group">
                                            <label for="ms1">Milestone 1</label>
                                            <textarea type='date' class="form-control" id="ms1" aria-describedby="ms1"
                                                placeholder="Enter First milstone"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="ms2">Milestone 2</label>
                                            <textarea class="form-control" id="ms2" aria-describedby="ms2"
                                                placeholder="Enter 2nd Milestone"></textarea>
                                        </div>



                                        <div class="form-group">
                                            <label for="ms3">Milestone 3</label>
                                            <textarea class="form-control" id="ms3" aria-describedby="ms3"
                                                placeholder="Enter 3rd Milestone"></textarea>
                                        </div>



                                        <div class="form-group">
                                            <label for="ms4">Milestone 4</label>
                                            <textarea class="form-control" id="ms4" aria-describedby="ms4"
                                                placeholder="Enter 4th Milestone"></textarea>
                                        </div>



                                        <div class="form-group">
                                            <label for="ms5">Milestone 5</label>
                                            <textarea class="form-control" id="ms5" aria-describedby="ms5"
                                                placeholder="Enter Milestone 5"></textarea>
                                        </div>

                                        </form>



                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Subtasks Row END -->

                        <!-- Date Picker -->
                        
                        <div class="form-group input-field col s6 ">
                            <label for="end-date"></label>
                            <input class="form-control datepicker" id="end-date" aria-describedby="end-date"
                                placeholder="When would you like to reach this goal?"></input type="date">
                        </div>
                        <!-- Date Picker END -->


                    </div>
                    <!--  modal-content -->

                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                        <a id="submit" href="#!" class="modal-close waves-effect waves-green btn-flat">Create</a>
                    </div>
                    <!-- END modal-content -->
                </div>


            </div>


        </div>
    </div>
</div> --}}
<!-- Modal Structure -->
<div id="modalLogin" class="modal">
    <div class="modal-content">
        <h2>Login Form</h2>
        <form class="login">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="email-input" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password-input" placeholder="Password">
            </div>

    </div>
    <div class="modal-footer">
            <button type="submit" id="loginBtn" class="btn btn-default ">Login</button>
    </div>  
    </form>
</div>

<div id="modalSignUp" class="modal">
    <div class="modal-content">
        <h2>Sign UP Form</h2>
        <form class="login">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="email-input" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password-input" placeholder="Password">
            </div>

    </div>
    <div class="modal-footer">
           <button type="submit" id="signUpBtn" class="btn btn-default ">Sign Up</button>
    </div>  
    </form>
</div>


<h1>You are logged out! </h1>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>